.gegevens{
	padding-left:200px;
}
.projecten{
	margin-left: 200px;
	border: 2px solid grey;
    border-radius: 8px;
}
.uitloggen{
	float:right;
	background-color:#1A64B8;
	border:none;
	color:white;
	width:68px;
	height:32px;
	border-radius: 8px;
	transition-duration: 0.4s;
}
.uitloggen:hover{
	background-color:white;
	color:#1A64B8;
	cursor:pointer;
	border: 2px solid #1A64B8;
	
}
body{
	font-family: Verdana,sans-serif;
}
.border{
	margin-left: 200px;
	border: 2px solid grey;
    border-radius: 8px;
}
.border-admin{
	margin-left: 250px;
	border: 2px solid grey;
    border-radius: 8px;
}

.rows{
	padding-left:200px;
}
.edit-input{
	 display:none;
}
.edit-input-button{
	display:none;
	background-color:#1A64B8;
	border:none;
	color:white;
	width:80px;
	height:32px;
	margin:10px;
	border-radius: 8px;
	transition-duration: 0.4s;
}
.edit-input-button:hover{
	color:white;
	cursor:pointer;
	background-color:white;
	color:#1A64B8;
	cursor:pointer;
	border: 2px solid #1A64B8;
}
.aanpassen{
	float:right;
	background-color:#1A64B8;
	border:none;
	color:white;
	width:80px;
	height:32px;
	margin:10px;
	border-radius: 8px;
	transition-duration: 0.4s;
}
.aanpassen:hover{
	color:white;
	cursor:pointer;
	background-color:white;
	color:#1A64B8;
	cursor:pointer;
	border: 2px solid #1A64B8;
}
div>p>label{
	width:80%;
	float:right;
}

ul {
	float:left;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: auto;
    height: auto; /* Full height */
    position:auto; /* Make it stick, even on scroll */
    overflow: hidden; /* Enable scrolling if the sidenav has too much content */
    border: 1px solid #1A64B8;
    border-radius: 8px;
}
li a {
    display: block;
    color: #000;
    padding: 8px 16px;
    text-decoration: none;
}

/* Change the link color on hover */
li a:hover {
    background-color: #1A64B8;
    color: white;
}


.muis:hover{
	color:white;
	cursor:pointer;
	
}
.kop{
    text-align: center;
}
